@font-face {
    font-family: 'feather';
    src: url(./../fonts/feather.eot);
    src: url(./../fonts/feather.eot) format('embedded-opentype'),
    url(./../fonts/feather.ttf) format('truetype'),
    url(./../fonts/feather.woff) format('woff'),
    url(./../images/feather.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}